<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

<div class="login-form">
  <form action="/login" method="post">
    <h2 class="text-center">ATM</h2>
    <div class="">
      <a href="/login" class="btn btn-outline-secondary btn-block">Balance</a>
      <a href="/login" class="btn btn-outline-secondary btn-block">Transfer money</a>
      <a href="/login" class="btn btn-outline-secondary btn-block">Deposit money</a>
      <a href="/login" class="btn btn-outline-secondary btn-block">Withdraw money</a>
    </div>
  </form>
</div>
</body>
</html>